*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: none;
    list-style: none;
    border: none;
    outline: none;
}
html{
    scroll-behavior: smooth;

}
:root{
    --color-primary:#29d882;
    --color-primary-varient:#00bd95;
    --color-white:#f4f6f8;
    --color-dark:#88949b;
    --transition: .4s ease;
}
body{
    background: var(--color-white);
    color: var(--color-black);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    font-size: 60px;
    font-weight: 700;
    line-height: 130%;
}
h3{
    font-size: 34px;
    font-weight: 700;
    color: var(--color-primary);
    line-height: 130%;

}
p{
    color: var(--color-dark);
    line-height: 150%;
    font-size: 19px;

}
img{
    width: 100%;
    display: block;
}
.btn{
    display: inline-block;
    width: fit-content;
    padding: 14px 32px;
    font-weight: 500;
    font-size: 19px;
    border-radius: 30px;
    background: var(--color-primary);
    color: var(--color-white);
    box-shadow: 0 03px 05px rgba(0,0,0,0.4);
    transition: var(--transition); 
    text-decoration: none;
}
.btn:hover{
    background: var(--color-primary-varient);
    box-shadow: none;
}

.container{
    width: 90%;
    margin:0 auto;
    max-width: 1420px;
}



/* start nav bar */

nav{
    position: fixed;
    width: 100%;
    height: 5rem;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--color-black);
}
.logo span{
    color: var(--color-dark);
}
.nav-links{
    display: flex;
    align-items: center;
    gap: 4rem;
    
}

.nav-links li a{
    text-decoration: none;
    font-size: 19px;
    color: var(--color-dark);
    position: relative;
    transition: var(--transition);
}
.nav-links li a:hover{
    color: var(--color-black);
}
.nav-links li a::before{
    content: "";
    width: 0;
    height: 3px;
    border-radius: 6px;
    background: var(--color-primary);
    position: absolute;
    bottom: -6px;
    left:0;
}
.nav-links li a:hover::before{
    width: 100%;
}
.active{
    color: var(--color-black) !important;
}
.active::before{
    width: 100% !important;
}
/* end nav bar */

/* start header */
header{
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.header-container{
    height: 700px;
    display: grid;
    grid-template-columns: auto 30rem;
    gap: 4rem;
    align-items: center;
}
.header-container h3{
    margin: .7rem 0;
    color: var(--color-primary);
}
.header-container p{
    margin: 0 0 1.8rem;
}
.header-right{
    display: flex;
    align-items: center;
    justify-content: center;

}
.circle{
    background: var(--color-black);
    height: 28rem;
    width: 28rem;
    border-radius: 50%;
    border: 1px solid var(--color-primary);
    position: relative;
    animation: circleAni linear infinite 20s;

}
@keyframes circleAni{
    to{
        transform: rotate(360deg);
    }
}
.circle a{
    width:4rem;
    height: 4rem;
    border-radius: 50%;
    background: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-primary);
    box-shadow: 0 0 1rem rgba(0,0,0,0.2);
    font-size: 22px;
    position: absolute;
    transition: var(--transition);
}
.circle a:hover{
    background: var(--color-primary);
    color: var(--color-white);
}
.circle a:nth-child(1){
    left: calc(50% - 2rem);
    top: -2rem;
}
.circle a:nth-child(2){
    top: calc(50% - 2rem);
    right: -2rem;
}

.circle a:nth-child(3){
    top: calc(50% - 2rem);
    left: -2rem;
}

.circle a:nth-child(4){
    left: calc(50% - 2rem);
    bottom: -2rem;
}
.hero-image{
    background-image: url("https://images.pexels.com/photos/2102416/pexels-photo-2102416.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    position: absolute;
    height: 22rem;
    width: 22rem;
    object-fit: cover;
    overflow: hidden;
    padding: 1rem;
    border-radius: 50%;
    /* background: var(--color-primary); */
    background-position: center;
}


/* end header */